.App {
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 0px 30px;
  .first, .second{
    background-color: #bebdbd;
    padding: 5px;
    border-style: none;
    margin: 5px 10px;
    border-radius: 7px;
  }
  .switch{
    margin: 15px;
  }
}
